@import "@/scss/breakpoints";
@import "@/scss/colors";

.clients_contact__info {
    color: black;
}

.client_contact {
    background-color: #15172C;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__content {
        width: 90%;
        color: white;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
    }

    &__back {
        font-size: 0.7rem;
        text-align: center;
        color: $color-clients-cta-red;
    }
}