@import "@/scss/breakpoints";

.clients_contact__info {
    color: black;
}

.client_contact {
    background-color: #15172C;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__content{
        width: 90%;
        color: white;
        font-size: 2rem;
        text-align: center;
    }

    &__back{
        font-size: 2rem;
        text-align: center;
    }
}