@import "@/scss/colors";
@import "@/scss/breakpoints";
@import "@/scss/common_styles";

.landing_client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $color-white;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    height: 78rem;
    gap: 2em;

    @include above-mobile() {
      align-items: flex-start;
      height: 2rem;
      gap: 0.5em;
    }

    &__image_container {
      @include backgroundImage();
    }

    &__title {
      margin-top: 1.5em;
      width: 90%;
      font-size: 4.3rem;
      font-family: Gilroy;

      @include above-mobile() {
        margin-left: 15%;
        width: 70%;
        font-size: 2rem;
        letter-spacing: 0.04em;
      }
    }

    &__video {
      position: relative;
      width: 90%;
      /* adjust this value as needed */
      height: 0;
      padding-bottom: 56.25%;
      /* 16:9 aspect ratio */

      @include above-mobile() {
        margin-left: 15%;
        width: 35%;
        padding-bottom: 20%;
      }

      &__responsive_iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      width: 90%;
      font-size: 2.4rem;

      @include above-mobile() {
        margin-left: 15%;
        width: 70%;
        font-size: 1rem;
        letter-spacing: 0.04em;
      }
    }
  }

  &__storytelling {
    width: 90%;

    h2{
      margin: 0.8em auto;
    }

    @include above-mobile() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 100vh;
      width: 70%;
    }

    &__testimonial {
      @include above-mobile() {
        margin-top: -17.2em;
        width: 75%;
        grid-column: 1;
      }
    }

    &__problem {
      @include above-mobile() {
        width: 75%;
        grid-column: 2;
        justify-self: end;
      }
    }

    &__success {
      @include above-mobile() {
        width: 75%;
        justify-self: end;
        margin-top: 8em;
      }
    }

    &__knowledge {
      @include above-mobile() {
        display: flex;
        gap: 5em;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        grid-column: span 2;
      }

      &__text {
        @include above-mobile() {
          width: 70%;
        }
      }

      @include above-mobile() {
        img {
          margin-top: 0;
          width: 100%;
          height: auto;
        }
      }
    }

    &__self_education {
      @include above-mobile() {
        display: flex;
        gap: 5em;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        grid-column: span 2;
      }

      &__text {
        @include above-mobile() {
          width: 50%;
        }
      }

      @include above-mobile() {
        img {
          margin-top: 0;
          width: 50%;
          height: auto;
        }
      }
    }

    &__peer_programming {
      @include above-mobile() {
        display: flex;
        gap: 1em;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        grid-column: span 2;
      }

      @include above-mobile() {
        img {
          margin-top: 0;
          width: 150%;
          height: auto;
        }
      }
    }

    &__title {
      font-size: 3rem;
      font-family: Gilroy;

      @include above-mobile() {
        font-size: 1.6rem;
        margin-bottom: 1em;
        letter-spacing: 0.04em;
      }
    }

    &__description {
      font-size: 1.8rem;
      font-family: GilroyLight;

      @include above-mobile() {
        font-size: 0.8rem;
        letter-spacing: 0.04em;
      }
    }

    &__image {
      width: 100%;
      margin-top: 2.5em;
      height: auto;
    }
  }

  &__mentors {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $color-white;

    @include above-mobile(){
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 4em;
    }

    &__image {
      margin-top: 8em;
      width: 100%;
      height: auto;

      @include above-mobile(){
        height: 100vh;
        width: auto;
        margin: 0;
      }
    }

    &__card {
      position: absolute;
      top: 85%;
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 2.2em;
      width: 90%;
      background: $color-dark-purple;
      padding: 12% 12%;

      @include above-mobile(){
        width: 50%;
        left: 0;
        top: 20%;
        padding: 4% 12%;
      }

      &__title {
        font-size: 1.2rem;
        line-height: 1.5rem;

        @include above-mobile(){
          font-size: 0.6rem;
          line-height: 0;
        }
      }

      &__description {
        font-size: 1.8rem;

        @include above-mobile(){
          font-size: 0.9rem;
        }
      }

      &__image {
        width: 15%;
        height: auto;
      }
    }
  }
}