@import "@/scss/colors";
@import "@/scss/breakpoints";
@import "@/scss/common_styles";

.content {
    display: flex;
    flex-direction: column;
    color: $color-white;
    font-weight: 800;
    text-align: center;
    align-items: center;

    &__img {
        @include backgroundImage();
    }

    &__main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 7em;
        gap: 2em;

        @include mobile(){
            gap: 0.5em;
        }

        &__title {
            font-size: 8rem;
            letter-spacing: 0.04em;

            @include above-mobile() {
                font-size: 6rem;
            }

            @include mobile() {
                width: 90%;
                font-size: 3rem;
            }
        }

        &__description {
            font-size: 2.4rem;
            width: 50%;

            @include mobile() {
                font-size: 1.8rem;
                width: 95%;
                letter-spacing: 0.04em;
            }
        }

        &__client_container {
            width: 20.73%;
            height: 25em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            gap: 1em;

            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(0.5rem);
            border-radius: 0.5rem;

            @include mobile() {
                width: 75%;
                height: 17em;
                font-size: 1.8rem;
            }

            &__start_button {
                width: 63.28%;
                height: 2.92em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: $color-clients-cta-red;
                color: $color-white;
                border-radius: 0.5em;

                @include mobile() {
                    height: 5.9rem;
                }

                &:hover {
                    color: $color-hover;
                }
            }

            &__image_container {
                &__image {
                    @include mobile() {
                        width: 35%;
                        height: auto;
                    }
                }
            }

            &__got_account {
                &__login_link {
                    color: $color-clients-cta-red;

                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }
    }
}