@import "@/scss/breakpoints";
@import "@/scss/colors";

.skills_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6rem;
    color: $color-dark-gray;
    
    &__skill {
        background: $color-white-cream;
        border-radius: 1.4rem;
        padding: 0.6rem 1.4rem;
        font-size: 1.4rem;
    }
}