@import "@/scss/colors";
@import "@/scss/breakpoints";

.mentor_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: linear-gradient(180deg, rgba(242, 241, 241, 0) 11.39%, #F2F1F1 76.14%);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    @include above-mobile() {
      flex-direction: row;
      width: 70%;
      align-items: flex-start;
      gap: 2em;
      margin-top: 3em;
    }

    &__image {
      margin-top: 13em;
      width: 100%;
      height: auto;

      @include above-mobile() {
        margin-top: 1em;
        width: 50%;
      }
    }

    &__content{
      width: 100%;
    }

    &__skills {
      margin-top: 2em;
      @include above-mobile(){
        margin-top: 0.4em;
      }
    }

    &__text {
      &__title {
        font-size: 2.4rem;
        margin-top: 2.4rem;
        line-height: 3.2rem;
        letter-spacing: 0.04em;
        color: #15172C;
        font-family: Gilroy;

        @include above-mobile(){
          font-size: 1.2rem;
          line-height: 0rem;
          margin-top: 1.2em;
          margin-bottom: 0.8em;
        }
      }

      &__category {
        margin-top: 1.2rem;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 0.04em;
        color: #58595F;
        font-family: GilroyLight;

        @include above-mobile() {
          line-height: 1rem;
          font-size: 0.6rem;
          margin-top: 0em;
        }
      }

      &__bio {
        margin-top: 2.4rem;
        font-size: 1.8rem;
        line-height: 1.4em;
        letter-spacing: 0.04em;
        color: #58595F;
        font-family: GilroyLight;

        @include above-mobile() {
          line-height: 2rem;
          margin-top: 0.4em;
          font-size: 0.6rem;
          line-height: 2em;
        }
      }
    }
  }

  &__package_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;

    @include above-mobile(){
      width: 70%;
      gap: 0.8em;
    }

    &__title {
      font-size: 2.4rem;
      line-height: 4rem;
      font-weight: 800;
      color: #15172C;
      font-family: Gilroy;
      letter-spacing: 0.04em;

      @include above-mobile(){
        font-size: 1.2rem;
        line-height: 1rem;
      }
    }

    &__sub_title {
      max-width: 51rem;
      font-size: 1.8rem;
      line-height: 4rem;
      max-width: 100%;
      font-weight: 800;
      color: #15172C;
      font-family: Gilroy;
      letter-spacing: 0.04em;

      @include above-mobile() {
        font-size: 0.6rem;
        line-height: 1.2rem;
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      @include above-mobile(){
        flex-direction: row;
        gap: 1.2em;
        margin-bottom: 3em;
      }
    }
  }

  &__footer {
    margin-top: -20em;
  }
}