@import "@/scss/colors";
@import "@/scss/breakpoints";

.mentor_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: linear-gradient(180deg, rgba(242, 241, 241, 0) 11.39%, #F2F1F1 76.14%);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    &__image {
      margin-top: 13em;
      width: 100%;
      height: auto;
    }

    &__skills{
      margin-top: 2em;
    }

    &__text {
      &__title {
        font-size: 4.8rem;
        line-height: 5.8rem;
        letter-spacing: 0.04em;
        color: #15172C;
        font-family: Gilroy;

        @include mobile() {
          margin-top: 2.4rem;
          font-size: 2.4rem;
          line-height: 3.2rem;
        }
      }

      &__category {
        margin-top: 2rem;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 0.04em;
        color: #58595F;
        font-family: GilroyLight;

        @include mobile() {
          margin-top: 1.2rem;
          font-size: 1.8rem;
          line-height: 2rem;
        }
      }

      &__bio {
        margin-top: 5rem;
        font-size: 2.4rem;
        line-height: 2.7rem;
        letter-spacing: 0.04em;
        color: #58595F;
        font-family: GilroyLight;

        @include mobile() {
          margin-top: 2.4rem;
          font-size: 1.8rem;
          line-height: 2rem;
        }
      }
    }
  }

  &__package_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;

    &__title {
      font-size: 2.4rem;
      line-height: 4rem;
      font-weight: 800;
      color: #15172C;
      font-family: Gilroy;
      letter-spacing: 0.04em;
    }

    &__sub_title {
      max-width: 51rem;
      font-size: 2.4rem;
      line-height: 4rem;
      font-weight: 800;
      color: #15172C;
      font-family: Gilroy;
      letter-spacing: 0.04em;

      @include mobile() {
        max-width: 100%;
        font-size: 1.8rem;
        line-height: 4rem;
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__footer {
    margin-top: -20em;
  }
}